/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	body {
		background-size: cover;
		background-position: center;
		height: auto;
		width: auto;
		padding: 15px auto;
		margin: 15px auto;
		overflow: hidden;
	}
	.main-area-wrapper {
		height: 100%;
		padding: 0px;
		background-image:url(../../img/countdown-6-1600x900.jpg);
		background-size: cover;
		background-position: center;
	}
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	body {
		background-size: cover;
		background-position: center;
		height: auto;
		width: auto;
		padding: 15px auto;
		margin: 15px auto;
		overflow: hidden;
	}
	.main-area-wrapper {
		height: 100%;
		padding: 0px;
		background-image:url(../../img/countdown-6-1600x900.jpg);
		background-size: cover;
		background-position: center;
	}
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body {
		background-size: cover;
		background-position: center;
		height: auto;
		width: auto;
		padding: 15px auto;
		margin: 15px auto;
		overflow: hidden;
	}

	p {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.8em;
		line-height: 1;
	}

	h2 {
		font-size: 2.2em;
		line-height: 1.1;
	}

	h3 {
		font-size: 1.8em;
	}


	/* ---------------------------------
	3. MAIN SECTION
	--------------------------------- */

	.main-area-wrapper {
		height: 100%;
		padding: 0px;
		background-image:url(../../img/countdown-6-1600x900.jpg);
		background-size: cover;
		background-position: center;
	}

	/* TIME COUNTDOWN */

	#normal-countdown .time-sec {
		height: 70px;
		width: 70px;
		margin: 5px;
	}

	#normal-countdown .time-sec .main-time {
		line-height: 55px;
		font-size: 1.8em;
	}

	#normal-countdown .time-sec span {
		bottom: 12px;
	}

}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	.main-area-wrapper {
		height: 100%;
		padding: 0px;
		background-image:url(../../img/countdown-6-1600x900.jpg);
		background-size: cover;
		background-position: center;
	}
	body {
		background-size: cover;
		background-position: center;
		height: auto;
		width: auto;
		padding: 15px auto;
		margin: 15px auto;
		font-size: 16px;
		overflow: hidden;
	}

	/* ---------------------------------
	3. MAIN SECTION
	--------------------------------- */

	/* TIME COUNTDOWN */

	#normal-countdown .time-sec {
		height: 60px;
		width: 60px;
		margin: 5px;
	}

	#normal-countdown .time-sec .main-time {
		line-height: 45px;
		font-size: 1.5em;
	}

}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	body {
		background-size: cover;
		background-position: center;
		height: auto;
		width: auto;
		padding: 15px auto;
		margin: 15px auto;
		overflow: hidden;
	}
	.main-area-wrapper {
		height: 100%;
		padding: 0px;
		background-image:url(../../img/countdown-6-1600x900.jpg);
		background-size: cover;
		background-position: center;
	}
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	body {
		background-position: center;
		height: auto;
		width: auto;
		padding: 15px auto;
		margin: 15px auto;
		transform: none;
		overflow: hidden;
	}
	.main-area-wrapper {
		height: 100%;
		padding: 0px;
		background-image:url(../../img/countdown-6-1600x900.jpg);
		background-size: cover;
		background-position: center;
	}
}